# Node / Angular
**/node_modules/
**/.angular/
**/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.package-lock.json

# .NET / C#
**/bin/
**/obj/
**/.vs/
**/*.user
**/*.suo
**/*.userosscache
**/*.sln.docstates

# OS Files
.DS_Store
Thumbs.db
